.dropdown-menu__trigger {
  border-radius: 50%;
  border: 2px solid hsl(var(--text-hsl) / 40%);
  padding: 1.75rem;
  width: 2.5rem;
  height: 2.5rem;
  // overflow: hidden;
  display: none;

  > span {
    display: inline-flex;
  }

  &:is(:hover, :focus, :focus-visible) {
    border-color: var(--text);
  }

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.2s ease-in-out;
    cursor: pointer;
  }
}

.dropdown-menu__trigger-icon {
  transform: rotate(0deg);
  transition: transform 350ms ease-in-out;

  > i {
    color: var(--text);
  }

  &[data-expanded] {
    transform: rotate(180deg);
  }
}

.dropdown-menu__content {
  min-width: 100vw;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: hsl(var(--bg-hsl) / 60%); //add blur
  backdrop-filter: blur(10px);

  animation: contentHide 250ms ease-in forwards;

  &[data-expanded] {
    animation: contentShow 250ms ease-in forwards;
  }
}

:has(> .dropdown-menu__content) {
  // Bandaid fix for dropdown menu not being centered
  transform: translate3d(0px, 112px, 0px) !important;
}

.dropdown-menu__item {
  text-align: center;
  > a {
    display: inline-block;
    padding: 2rem 0;
    width: 100%;

    &::after {
      display: none;
    }
  }

  &::after {
    content: '';
    display: block;
    width: 100vw;
    height: 1px;
    background: var(--text);
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes contentHide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.96);
  }
}
