---
import BaseHead from '@/components/meta/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import Footer from '@ui/Footer.astro';
import NavBar from '@ui/NavBar.astro';
---

<!doctype html>
<html lang='en' data-theme='dark'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <NavBar transition:animate={'none'} />

    <div transition:name='content' transition:animate='slide'>
      <main>
        <slot />
      </main>
    </div>

    <Footer />
  </body>
</html>
