---
import ThemeSwitcher from './ThemeSwitcher';
import onNavigate from '@/utils/onNavigate';
import NavDropdown from './NavDropdown';

const links = [
  { text: 'Portfolio', href: '/portfolio/' },
  { text: 'Blog', href: '/blog/' },
  { text: 'About', href: '/about/' },
  { text: 'Contact', href: '/contact/' },
];
---

<nav>
  <a class='site-title' href='/'>Astro KCD</a>
  <ul>
    {
      links.map((link) => {
        return (
          <li>
            <a href={link.href}>{link.text}</a>
          </li>
        );
      })
    }
  </ul>
  <div>
    <div class='nav-dropdown'>
      <NavDropdown client:visible links={links} />
    </div>
    <ThemeSwitcher client:load />
  </div>
</nav>

<style lang='scss'>
  nav {
    position: sticky;
    top: 0;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-block: 3rem;
    padding-inline: 5vw;

    & a {
      color: var(--text);
      text-decoration: none;
      padding: 1rem;

      &::after {
        content: '';
        margin-top: 3px;
        display: block;
        width: 0;
        height: 2px;
        background: var(--text);
        transition: width 0.2s var(--ease-in-out-2);
      }

      &:is(:hover, :focus, :focus-visible, .active)::after {
        width: 100%;
      }
    }

    & > :last-child {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }

  .site-title {
    font-size: 1.333rem;
    font-weight: 700;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;

    @media (max-width: 768px) {
      display: none;
    }
  }

  li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
</style>

<script>
  import onNavigate from '@/utils/onNavigate';

  // Underline the link that matches the current page
  function setActiveLink() {
    const links = document.querySelectorAll(
      'nav a'
    ) as NodeListOf<HTMLAnchorElement>;
    const url = window.location.pathname;
    console.log('url', url);

    // remove second slash and everything after it
    const urlWithoutTrailingSlash = url.replace(/\/[^\/]*$/, '');
    console.log('urlWithoutTrailingSlash', urlWithoutTrailingSlash);

    if (urlWithoutTrailingSlash === '') {
      links[0].classList.add('active');
      return;
    }

    links.forEach((link) => {
      if (link.href.includes(urlWithoutTrailingSlash)) {
        link.classList.add('active');
      } else {
        link.classList.remove('active');
      }
    });
  }

  onNavigate(setActiveLink);
</script>
